package pages

import (
    "github.com/nint8835/scribe/pkg/web/ui"
    "github.com/nint8835/scribe/pkg/web/ui/components"
)

templ Rank(props components.RankProps) {
    @ui.Layout("Rank Quotes") {
        <form hx-post="/rank">
            @components.RankForm(props)
        </form>
    }
}
